body{
    background:  rgb(155, 235, 255);
}

h1{
    font-size: 90px;
    text-align: center;

}

h3{
    text-align: center;
}

p{
    text-align: center;
    background: rgb(255, 130, 150);
    border-radius: 10px;
    border-style: groove;
    border-color: rgb(0, 136, 255);
    border-width: 5px;

}


.felices{
    background: rgb(72, 113, 226);
    border-radius: 10px;
    border-color: rgb(255, 0, 0);
    border-style: groove;
    border-width: 5px;
}